.App {
  text-align: center;
}

.Header-container {
  width: 100%;

  display: inline-flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  background-color: rgb(77, 74, 74);
}

.Header-clock {
  color: white;

  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 20%;
}

.Header-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 20%;
}

.Header-menu-item {
  margin: 20px 20px;
}

.Header-menu-item a:hover {
  transition: ease background-color 250ms;
  color: rgb(173, 166, 166);
}



.Section-container {
  background-color: #333;
  border: 0 0 1px 1px solid black;
  height: auto;
  width: 100%;
}

.Top-dog-0 {
  color: rgb(255, 255, 255);
  background-color: rgb(37, 39, 38);
  font-size: larger;
  height: 500px;
}

.Top-dog-1 {
  color: rgb(255, 255, 255);
  background-color: rgb(29, 29, 29);
  font-size: larger;
  height: 500px;
}

.Top-dog-2 {
  color: rgb(255, 255, 255);
  background-color: rgb(37, 39, 38);
  font-size: larger;
  height: 500px;
}

.Top-dog-3 {
  color: rgb(255, 255, 255);
  background-color: rgb(29, 29, 29);
  font-size: larger;
  height: 500px;
}

.Top-dog-column {
  width: 30%;
  display: inline-block;
}

.Footer-container {
  width: 100%;
  display: inline-flex;  
  flex-direction: row;

} 

.Footer-menu {
  display: flex;

  justify-content: center;
  align-content: center;
  
  width: 100%;
  background-color: rgb(77, 74, 74);
  
  padding-top: 10px;
  padding-bottom: 10px;
}

.Footer-menu-item {
  margin: 20px 20px;
}

.Footer-menu-item a:hover {
  transition: ease background-color 250ms;
  color: rgb(173, 166, 166);
}

.Divider {
  display: inline;
  border-left: 1px solid black;
  size: 32px;
  height: 50px;
}