* {
	box-sizing: border-box;
}

#page-wrap {
	padding-bottom: 10px;
	padding-top: 10px;
}

.Divider {
	display: inline;

	height: 50px;

	border-left: 1px solid black;
	size: 32px;
}

.App {
	display: flex;
	flex-flow: row;

	text-align: center;
	background-color: #333333d9;
}


.Sidebar {
	display: flex;
	flex-flow: column;
	overflow: auto, hidden;

	min-height: 100%;

	text-align: left;
	color: white;
	background-color: #333333d9;
}

.Body {
	display: flex;

	width: 100%;
	min-height: 300vh;

	text-align: center;
	color: rgb(255, 255, 255);
	background-color: rgb(29, 29, 29);
}

.Body-content {
	width: 100%;
	text-align: center;
}

.Body-region {
	display: 'flex';
	flex-flow: 'column';
	width: 100%;

	color: rgb(255, 255, 255);
	background-color: rgb(29, 29, 29);
	font-size: larger;
}